*json
*pyc  
*npy
*pt
evolutionSimulation/python/dataset/simple_dataset.json
evolutionSimulation/data/full_numpy_bitmap_crocodile.npy
evolutionSimulation/data/full_numpy_bitmap_dragon.npy
evolutionSimulation/data/full_numpy_bitmap_duck.npy
evolutionSimulation/data/full_numpy_bitmap_lion.npy
evolutionSimulation/data/full_numpy_bitmap_sheep.npy
evolutionSimulation/data/full_numpy_bitmap_grass.npy
evolutionSimulation/python/dataset/create_dataset.py
evolutionSimulation/weights/evolvedWeights/simpleModelWeights
evolutionSimulation/weights/evolvedWeights/evolvedWeights
